.panel .p-overlaypanel-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border: 3px solid rgb(72, 222, 230);
  border-radius: 6px;
  padding: 8px;
  align-items: center;
  background-color:antiquewhite;
}
